.header {
  width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 132px;
}
.header__container .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin-left: -220px;
}
.header__container .nav-list a {
  text-decoration: none;
  color: #333333;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 99px;
  height: 24px;
}
.header__container .nav-list a:hover {
  color: #513232;
}

.header__container .logo {
  width: 148px;
  height: 40px;
}
.header__container .header-btn a:last-child {
  text-decoration: none;
  margin-left: 32px;
  width: 190px;
  height: 55px;
  border-radius: 4px;
  background-color: #13ab4e;
  transition: all 0.5s;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  width: 134px;
  height: 27px;
  padding: 14px 28px;
  border: 4px;
  color: #ffffff;
}
.header__container .header-btn a:last-child:hover {
  background-color: #0c4622;
}
.header__container .header-btn a:first-child {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 53px;
  height: 24px;
  color: #333333;
}
.header__container .header-btn a:first-child:hover {
  background-color: #4b3c3c;
}

.brend {
  width: 1440px;
  margin: 0 auto;
  margin-top: -380px;
}
.brend p {
  margin-left: 188px;
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 543px;
  height: 24px;
  color: #0d7d38;
}

.brend {
  margin-left: 199px;
}
.brend .brendlar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero {
  width: 1440px;
  margin: 65px auto;
  height: 884px;
}

.hero__container h1 {
  margin-top: -540px;
  margin-left: 132px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  width: 570px;
  height: 216px;
  color: #000000;
  margin-bottom: 16px;
}
.hero__container h1 span {
  color: #13ab4e;
}
.hero__container p {
  margin-left: 132px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  width: 525px;
  height: 72px;
  color: #333333;
  margin-bottom: 32px;
}

.hero__container .hero-btn a:first-child {
  margin-left: 132px;
  text-decoration: none;
  width: 190px;
  height: 55px;
  border-radius: 4px;
  background-color: #13ab4e;
  transition: all 0.5s;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  width: 134px;
  height: 27px;
  padding: 14px 28px;
  border: 4px;
  color: white;
}
.hero__container .hero-btn a:first-child:hover {
  background-color: #0c4622;
}
.hero__container .hero-btn a:last-child {
  text-decoration: none;
  margin-left: 25px;
  width: 160px;
  height: 27px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #13ab4e;
  border: 4px;
}
.hero__container .hero-btn a:last-child:hover {
  background-color: #0c4622;
}

.hero__container {
  position: relative;
}
.hero__container img:nth-child(1) {
  margin-top: -165px;
}
.hero__container img:nth-child(2) {
  position: absolute;
  right: 130px;
  top: -30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */