.hero {
  width: 1440px;
  margin: 65px auto;
  height: 884px;
}

.hero__container {
  h1 {
    margin-top: -540px;
    margin-left: 132px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    width: 570px;
    height: 216px;
    color: #000000;
    margin-bottom: 16px;
    span {
      color: #13ab4e;
    }
  }
  p {
    margin-left: 132px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    width: 525px;
    height: 72px;
    color: #333333;
    margin-bottom: 32px;
  }
}
.hero__container {
  .hero-btn {
    a {
      &:first-child {
        margin-left: 132px;
        text-decoration: none;
        width: 190px;
        height: 55px;
        border-radius: 4px;
        background-color: #13ab4e;
        transition: all 0.5s;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        width: 134px;
        height: 27px;
        padding: 14px 28px;
        border: 4px;
        color: #ffff;
        &:hover {
          background-color: #0c4622;
        }
      }
    }
    a {
      &:last-child {
        text-decoration: none;
        margin-left: 25px;
        width: 160px;
        height: 27px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: #13ab4e;
        border: 4px;
        &:hover {
          background-color: #0c4622;
        }
      }
    }
  }
}
.hero__container {
  position: relative;
  img {
    &:nth-child(1) {
      margin-top: -165px;
    }
    &:nth-child(2) {
      position: absolute;
      right: 130px;
      top: -30px;
    }
  }
}
